<div class="vs">
  <%= image_tag 'VS.png' %>
  <div>
    <a href="<%= pages_batman_path %>" class="batimitad"></a>
  </div>
  <div>
    <a href="<%= pages_superman_path%>" class="supermitad"></a>
  </div>
</div>
