<div class="vs">
  <%= image_tag 'VS.png' %>
  <div>
    <a href="<%= pages_batman_path %>" class="batimitad"></a>
    <div class="panel panel-default arriba">
      <div class="panel-heading list-group-item">Votar por Superman<span class="badge">Votos</span></div>
      <div class="panel-body">
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <button type="button" class="btn btn-primary">Votar</button>
        </form>
      </div>
    </div>
  </div>

  <div>
    <a href="<%= pages_superman_path%>" class="supermitad"></a>
    <div class="panel panel-default delado">
      <div class="panel-heading list-group-item">Votar por Batman<span class="badge">Votos</span></div>
      <div class="panel-body">
        <form class="" action="index.html" method="post">
          <div class="form-group">
            <label for="exampleInputPassword1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <button type="button" class="btn btn-primary">Votar</button>
        </form>
      </div>
    </div>
  </div>
</div>
