// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 0;
  box-sizing: border-box;
}

.IamBatman {
  background: image-url("Batman.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

h1.batih1 {
  margin: 0 0 0 50px;
  padding-top: 200px;
  font-size: 80px;
  color: white;
  text-shadow: 0 0 2px;

}

.Superman {
  background: image-url("Superman.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

p.kriptonita {
  margin: 0 0 0 50px;
  padding-top: 60vh;
  font-size: 80px;
  color: white;
  text-shadow: 0 0 2px;

}

div.vs img {
  position: absolute;
  left: 50%;
  margin-left: -200px;

}

a.supermitad {
  background: image-url("Superman2.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 50%;
  float: left;
}

a.batimitad {
  background: image-url("Batman2.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 50%;
  float: right;
}

div.arriba {
  position: fixed;
  margin-top: 60vh;
  margin-left: 5%;
  width: 40%;
}

div.delado {
  position: fixed;
  margin-top: 60vh;
  margin-left: 55%;
  width: 40%;
}
